{% extends "blog/base.html" %}

{% block content %}
	<div class="post">

		{# check if post.published_date exists #}
		{# then display info as HTML #}
		{% if post.published_date %}
			<div class="date">
				{{ post.published_date }}
			</div>
		{% endif %}
		
		{# button will only appear if user is logged in into django/admin. #}
		{% if user.is_authenticated %}
			<a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}

		<h1>{{ post.title }}</h1>
		<p>{{ post.text|linebreaksbr }}</p>
	</div>
{% endblock content %}